* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: #323331;
}

/* NAVBAR */
.navbar {
        height: 75px;
}

.nav-link, .navbar-brand, #scrapeBtn {
    color: #fff;
    font-family: 'Slabo 27px', serif;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.navbar-brand {
    font-family: 'Slabo 27px', serif;
    font-size: 2.0rem;
    padding: 10px;
}

.nav-link {
    padding: 24px;
    margin-left: 15px;
}

#scrapeBtn {
    padding: 23px;
}



.btn-info {
    margin: 15px;
}

/* JUMBOTRON */
.jumbotron {
    background: url(../images/giphy.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron-fluid {
    height: 400px;
}

.jumbo-container {
   text-align: center;
   margin-top: 5%;
}

.display-4 {
    color: #fff;
    font-family: 'Slabo 27px', serif;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* CARDS */
.card {
    margin: 20px;
    background-color: #a8b89e;
}

.card-header {
    background-color: rgba(99, 92, 128, 0.533);
    font-family: 'Slabo 27px', serif;
}

.mx-auto {
    width: 65%;
    display: block;
}

.btn-secondary {
    margin: 15px;
}
.read-btn, .btn-dark, .btn-secondary {
    width: 65%;
    display: block;
}

/* MODAL */
.modal-title {
    font-family: 'Slabo 27px', serif;
}

.modal-header {
    background-color: #a8b89e
}

h5 {
    font-family: 'Slabo 27px', serif;
}

label {
    font-family: 'Slabo 27px', serif;

}

